<h1>Welcome#index</h1>
<p>WELCOME TO KREATIO</p>

<h1>WELCOME TO KREATIO</h1>
<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles', :data => { :reload => true } %>


<%= link_to 'My Subscriber', controller: 'subscribers', action: "index" %>
